!!!
%html
  %head
    %title CareerPath
    = csrf_meta_tags
    = csp_meta_tag
    - if protect_against_forgery?
      %meta#authenticity-token{:content => form_authenticity_token, :name => "authenticity-token"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .container-fluid
      = render 'layouts/menu'
      = yield
    = yield :javascript
